# indexer.toml
INDEXER_ROOT_DIR=./config
INDEXER_LOG_LEVEL=info
INDEXER_LOG_FORMAT=console
INDEXER_DATABASE_SOURCE=postgres://abe_user:123456789@pg:5432/abe_indexer?sslmode=disable
INDEXER_DATABASE_MAX_IDLE_CONNS=10
INDEXER_DATABASE_MAX_OPEN_CONNS=20
INDEXER_DATABASE_CONN_MAX_LIFETIME=3600

# bitcoin.toml
BITCOIN_NETWORK_NAME="Abelian Testnetwork"
BITCOIN_RPC_HOST="testnet-rpc-00.abelian.info"
BITCOIN_RPC_PORT=""
BITCOIN_RPC_USER="J8y0OnkS2wx9XEgUlW5MqtoRDAQ="
BITCOIN_RPC_PASS="ULlXc/ZMJ375cn6VuSbtU+Y3KGQ="
BITCOIN_DISABLE_TLS=false
BITCOIN_WALLET_NAME=""
BITCOIN_ENABLE_INDEXER=true
BITCOIN_INDEXER_LISTEN_ADDRESS="abe338ce0ce178fb0aca42b4e400cdf395c92cbf9c5c9abd678aa516835f697bd6d280b285815924f862352c5463421c9f8d247f65dc112aa04c25de925bd1d1a334"
BITCOIN_INDEXER_LISTEN_TARGET_CONFIRMATIONS=1

BITCOIN_BRIDGE_ETH_RPC_URL="http://159.138.82.123:8123"
BITCOIN_BRIDGE_ETH_PRIV_KEY=""
BITCOIN_BRIDGE_CONTRACT_ADDRESS="0xD7933fd41EB93680Ba615b87eEC99D76aa5E007C"
BITCOIN_BRIDGE_ABI="abi.json"
BITCOIN_BRIDGE_AA_B2_API="https://deposit-test.qday.ninja:9002"
BITCOIN_BRIDGE_WITHDRAW_ENABLE_LISTENER=false
BITCOIN_BRIDGE_DEPOSIT=""
BITCOIN_BRIDGE_WITHDRAW=""
BITCOIN_BRIDGE_UNISAT_API_KEY=""
BITCOIN_BRIDGE_PUBLICKEYS=""
BITCOIN_BRIDGE_TIME_INTERVAL=10
BITCOIN_BRIDGE_MULTISIG_NUM=0
BITCOIN_BRIDGE_ROLLUP_ENABLE_LISTENER=false