RPC_URL=https://polygon-rpc.com
BLOCKCHAIN=polygon
INIT_BLOCK_NUMBER=12345678
INIT_BLOCK_HASH=0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890
POLYGON_ZKEVM_ADDRESS=0x1234567890abcdef1234567890abcdef12345678
PROPOSAL_BATCHES_LIMITNUM=10
INIT_PROPOSAL_ID=1
B2NODE_PRIVATE_KEY=your_b2node_private_key
B2NODE_ADDRESS=0xabcdefabcdefabcdefabcdefabcdefabcdefabcd
B2NODE_CHAIN_ID=80001
B2NODE_GRPC_HOST=localhost
B2NODE_GRPC_PORT=9090
B2NODE_RPC_URL=http://localhost:8545
B2NODE_COIN_DENOM=abecoin
ENDPOINT=https://api.example.com
RPCENDPOINT=https://rpc.example.com
USERNAME=admin
PASSWORD=yourpassword
APPID=yourappid
REQUEST_SIGNATURE=your_signature
USERID=youruserid
FROM=0xabcdefabcdefabcdefabcdefabcdefabcdefabcd
RECIPIENT=0x1234567890abcdef1234567890abcdef12345678
PRIVATE_KEY=your_private_key
AUTHTOKEN=your_auth_token
ETHERMINT_IMAGE=ghcr.io/qday-io/qday-abel-bridge-committer:sha-3943796